<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Imagen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Subir una Imagen</h2>

        <!-- Mostrar el mensaje si existe -->
        {% if message %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong style="font-size: 14px;">{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <form action="/upload_image" method="POST" enctype="multipart/form-data">
            <label for="image">Selecciona una imagen:</label>
            <input type="file" id="image" name="image" accept="" required>
            <br><br>
            <button type="submit" class="btn btn-primary">Subir Imagen</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
